// const path = require("path");
//
// module.exports = {
//   parser: "@typescript-eslint/parser",
//   parserOptions: {
//     project: "./tsconfig.json", // required for rules that need type information
//     ecmaVersion: 2018,
//     sourceType: "module",
//     ecmaFeatures: {
//       jsx: true,
//     },
//   },
//   extends: [
//     "eslint:recommended",
//     "plugin:@typescript-eslint/recommended",
//     "plugin:react/recommended",
//     "prettier/@typescript-eslint",
//     "plugin:prettier/recommended",
//   ],
//   rules: {
//     "no-console": ["error", { allow: ["error", "log"] }],
//     "no-empty": "off",
//     "react/prop-types": "off", // seems to clash
//     "@typescript-eslint/no-floating-promises": "error",
//     "@typescript-eslint/no-non-null-assertion": "off",
//     "@typescript-eslint/no-use-before-define": "off",
//     "@typescript-eslint/no-unused-vars": ["warn", { argsIgnorePattern: "^_" }],
//     "@typescript-eslint/camelcase": "off",
//     "@typescript-eslint/explicit-function-return-type": "off",
//   },
//   settings: {
//     react: {
//       version: "detect", // Tells eslint-plugin-react to automatically detect the version of React to use
//     },
//   },
// };
